/* Default */
* {
  box-sizing: border-box;
}
/* body */
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100svh;
}

/* Calculator */
#calculator {
  display: flex;
  gap: 0.25rem;
  flex-wrap: wrap;
  background-color: rgb(12, 12, 12);
  align-content: flex-start;
  padding: 0.25rem;
  width: 25rem;
  max-width: 90%;
}

/* Calculator screen */

#calculator-screen {
  flex: 1 0 100%;
  height: 5rem;
  background-color: rgb(170, 164, 164);
}

/* Calculator-left-group */
#calculator-left-group {
  flex: 3 0 0;
  gap: 0.25rem;
  display: flex;
  flex-wrap: wrap;
}

/* Left-group buttons */
#calculator-left-group button {
  flex: 1 0 calc(100% / 3 - 0.25rem);
}
#calculator-left-group [data-button="0"] {
  flex-basis: calc(200% / 3 - 0.25rem);
}

/* Calculator-side-group */
#calculator-side-group {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  flex: 1 0 0;
}
/* Calculator buttons */
#calculator button {
  padding-inline: 0;
  padding-block: 2rem;

  align-items: center;
}

/* colors */
#calculator-left-group button {
  background-color: aquamarine;
}
#calculator-left-group .calculator-digit[data-button],
#calculator-left-group #calculator-decimal {
  background-color: pink;
}
#calculator-side-group button {
  background-color: orange;
}

/* calculator button font size */
#calculator button {
  font-size: 2rem;
}
