/* Default */
* {
  box-sizing: border-box;
}
/* body */
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100svh;
}

/* Calculator */
#calculator {
  display: flex;
  flex-wrap: wrap;
  height: 70vh;
  aspect-ratio: 1/1;
  align-content: flex-start;
}

/* Calculator screen */

#calculator-screen {
  flex: 1 0 100%;
  height: 3rem;
  background-color: aquamarine;
}

/* Calculator-left-group */
#calculator-left-group {
  flex: 3 0 0;
  display: flex;
  flex-wrap: wrap;
}

/* Left-group buttons */
#calculator-left-group button {
  flex: 1 0 calc(100% / 3);
}

/* Calculator-side-group */
#calculator-side-group {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
}
/* Calculator buttons */
#calculator button {
  padding-inline: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Heights */
#calculator-left-group,
#calculator-side-group {
  height: calc(500% / 6);
}
#calculator-screen {
  height: calc(100% / 6);
}
#calculator button {
  height: calc(100% / 5);
}
